<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页轮播图管理</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=4.1.0" rel="stylesheet">
    <link href="__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link rel="stylesheet" href="__JS__/plugins/layui/css/layui.css">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>首页轮播图列表</h5>
        </div>
        <div class="ibox-content">
            <!--搜索框开始-->
            <form id='commentForm' role="form" method="post" class="form-inline">
                <div class="content clearfix m-b">
                    <div class="form-group">
                        <label>首页轮播图名称：</label>
                        <input type="text" class="form-control" id="class" name="class">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="button" style="margin-top:5px" id="search"><strong>搜 索</strong>
                        </button>
                    </div>
                </div>
            </form>
            <!--搜索框结束-->
            <div class="form-group clearfix col-sm-1">
                <button class="btn btn-outline btn-primary" type="button" id="add_lunbo">添加首页轮播图</button>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="example-wrap">
                <div class="example">
                    <table id="cusTable" data-height="700">
                        <thead>
                        <th data-field="id">编号</th>
                        <th data-field="imgurl">轮播图</th>
                        <th data-field="operate">操作</th>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- End Example Pagination -->
        </div>
    </div>
</div>
<div class="ibox-content add_lunbo">
    <form class="form-horizontal m-t" id="commentForm">

        <div class="form-group">
            <label class="col-sm-4 control-label">首页轮播图：</label>
            <div class="input-group col-sm-6">
                <input id="class" type="file" class="layui-upload-file" name="files">
                <input type="hidden" name="imgurl" value="" style="max-height:300px;" id="img_url">
            </div>
        </div>
        <img src="" alt="" id="upload_img">
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-3">
                <!--<input type="button" value="提交" class="btn btn-primary" id="postform"/>-->
                <button class="btn btn-primary" type="submit" id="submit">提交</button>
            </div>
        </div>
    </form>
</div>
<!-- End Panel Other -->
<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__JS__/content.min.js?v=1.0.0"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="__JS__/plugins/suggest/bootstrap-suggest.min.js"></script>
<script src="__JS__/plugins/layer/laydate/laydate.js"></script>
<script src="__JS__/plugins/sweetalert/sweetalert.min.js"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>
<script src="__JS__/plugins/layui/layui.js"></script>
<script type="text/javascript">
    function initTable() {
        //先销毁表格
        $('#cusTable').bootstrapTable('destroy');
        //初始化表格,动态从服务器加载数据
        $("#cusTable").bootstrapTable({
            method: "get",  //使用get请求到服务器获取数据
            url: "./index", //获取数据的地址
            striped: true,  //表格显示条纹
            pagination: true, //启动分页
            pageSize: 10,  //每页显示的记录数
            pageNumber:1, //当前第几页
            pageList: [5, 10, 15, 20, 25],  //记录数可选列表
            sidePagination: "server", //表示服务端请求
            //设置为undefined可以获取pageNumber，pageSize，searchText，sortName，sortOrder
            //设置为limit可以获取limit, offset, search, sort, order
            queryParamsType : "undefined",
            queryParams: function queryParams(params) {   //设置查询参数
                var param = {
                    pageNumber: params.pageNumber,
                    pageSize: params.pageSize,
                    class:$('#class').val(),
                };
                return param;
            },
            onLoadSuccess: function(){  //加载成功时执行
                layer.msg("加载成功", {time : 1000});
            },
            onLoadError: function(){  //加载失败时执行
                layer.msg("加载数据失败");
            }
        });
    }

    $(document).ready(function () {
        //调用函数，初始化表格
        initTable();

        //当点击查询按钮的时候执行
        $("#search").bind("click", initTable);
    });

    layui.use('layer',function(){
        layer = layui.layer;
    })

    $('#add_lunbo').on('click',function(){
        add_lunbo = layer.open({
            type: 1,
            shade: false,
            title: '添加首页轮播图',
            area : ['700px','500px'],
            content: $('.add_lunbo'), //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
        });
    })
    layui.use('upload', function(){
        layui.upload({
            url: "{:url('Backend/File/upload')}",
            before: function(input){
                //返回的参数item，即为当前的input DOM对象
                console.log('文件上传中');
            },
            success: function(res){
                $('#img_url').val(res.data);
                $('#upload_img').attr('src',res.data);
            }
        });
    });

    $('#submit').on('click',function(){
        var imgurl = $('#img_url').val();
        $.getJSON('./lunboAdd', {'imgurl' : imgurl}, function(res){
            if(res.code == 1){
                layer.alert('添加成功');
                layer.close(add_lunbo);
                initTable();
            }else{
                layer.alert('添加失败');
            }
        });
    });
    function lunboDel(id){
        layer.confirm('确认删除此首页轮播图?', {icon: 3, title:'提示'}, function(index){
            //do something
            $.getJSON('./lunboDel', {'id' : id}, function(res){
                if(res.code == 1){
                    layer.alert('删除成功');
                    initTable();
                }else{
                    layer.alert('删除失败');
                }
            });

            layer.close(index);
        })

    }
</script>
</body>
</html>
