<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用戶管理</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=4.1.0" rel="stylesheet">
    <link href="__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link rel="stylesheet" href="__JS__/plugins/layui/css/layui.css">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>签约商家</h5>
        </div>
        <div class="ibox-content">
            <!--搜索框开始-->
            <form id='commentForm' role="form" method="post" class="form-inline">
                <div class="content clearfix m-b">
                    <div class="form-group">
                        <label>用戶编号：</label>
                        <input type="text" class="form-control" id="code" name="nickname">
                    </div>
                    <div class="form-group">
                        <label>状态：</label>
                        <select name="user_class" class="form-control" id="status">
                            <option value="">请选择</option>
                            {volist name="from_status" id="vo" key="k"}
                                <option value="{$k}">{$vo}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="font-noraml">申请时间段</label>
                        <div class="input-daterange input-group">
                            <input type="date" class="form-control" id="start">
                            <span class="input-group-addon">到</span>
                            <input type="date" class="form-control" id="end">
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="button" style="margin-top:5px" id="search"><strong>搜 索</strong>
                        </button>
                    </div>
                </div>
            </form>
            <!--搜索框结束-->
            <!--<div class="form-group clearfix col-sm-1">-->
                <!--<a href="./userAdd"><button class="btn btn-outline btn-primary" type="button">添加用户</button></a>-->
            <!--</div>-->
            <div class="hr-line-dashed"></div>

            <div class="example-wrap">
                <div class="example">
                    <table id="cusTable" data-height="700">
                        <thead>
                        <th data-field="id">id</th>
                        <th data-field="ucode">会员编号</th>
                        <th data-field="img">商家凭证</th>
                        <th data-field="created_at">申请日期</th>
                        <th data-field="updated_at">通过日期</th>
                        <th data-field="status">状态</th>
                        <th data-field="operate">操作</th>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- End Example Pagination -->
        </div>
    </div>
</div>


<!-- 资金明细结束 -->
<!-- End Panel Other -->
<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__JS__/content.min.js?v=1.0.0"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="__JS__/plugins/suggest/bootstrap-suggest.min.js"></script>
<script src="__JS__/plugins/layer/laydate/laydate.js"></script>
<script src="__JS__/plugins/sweetalert/sweetalert.min.js"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>
<script src="__JS__/layui/layui.all.js"></script>
<script src="__JS__/layui/layui.js"></script>
<script type="text/javascript">
    function initTable() {
        //先销毁表格
        $('#cusTable').bootstrapTable('destroy');
        //初始化表格,动态从服务器加载数据
        $("#cusTable").bootstrapTable({
            method: "get",  //使用get请求到服务器获取数据
            url: "./business", //获取数据的地址
            striped: true,  //表格显示条纹
            pagination: true, //启动分页
            pageSize: 10,  //每页显示的记录数
            pageNumber:1, //当前第几页
            pageList: [5, 10, 15, 20, 25],  //记录数可选列表
            sidePagination: "server", //表示服务端请求
            //设置为undefined可以获取pageNumber，pageSize，searchText，sortName，sortOrder
            //设置为limit可以获取limit, offset, search, sort, order
            queryParamsType : "undefined",
            queryParams: function queryParams(params) {   //设置查询参数
                var param = {
                    pageNumber: params.pageNumber,
                    pageSize: params.pageSize,
                    code:  $("#code").val(),
                    status:$('#status').val(),
                    start:$('#start').val(),
                    end:$('#end').val(),
                    nickname:$('#nickname').val(),
                };
                return param;
            },
            onLoadSuccess: function(){  //加载成功时执行
                layer.msg("加载成功", {time : 1000});
            },
            onLoadError: function(){  //加载失败时执行
                layer.msg("加载数据失败");
            }
        });
    }

    $(document).ready(function () {
        //调用函数，初始化表格
        initTable();

        //当点击查询按钮的时候执行
        $("#search").bind("click", initTable);
    });

   function UpdateState(id,status,msg){
        layer.confirm(msg, {icon: 3, title:'提示'}, function(index){
            //do something
            $.getJSON('./updatebuss', {'id':id,'status':status}, function(res){
                  if(res.code==1){
                     layer.alert(res.msg);
                     initTable();
                  }else{
                     layer.alert(res.msg);
                  }
            });

            layer.close(index);
        })

    }

  function clickImg(img){

        w = layer.open({
            type: 1,
            shade: false,
            area:['400px','600px'],
            content: "<img src="+img+" id='businessimg' style='width:100%;height:100%'>", //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
        });

  }

</script>
</body>
</html>

